@import '../../utils/styles/index.scss';

.main-wrapper {
  display: flex;
  align-items: stretch;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 8rem);
    padding: 4.7% 4.2% 4.7% 7.5%;

    @include on-laptop() {
      padding: 4.7% 0 4.7% 7.5%;
    }

    .title-section {
      margin-bottom: 7.7rem;

      h1 {
        font-size: $font-size-h1;
        margin-bottom: 4rem;
      }

      .subtitle {
        font-size: 1.8rem;
      }
    }

    .charts-section {
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        flex-direction: column;
        width: 58vw;

        .left-top {
          margin-bottom: 3rem;
        }

        .left-bottom {
          display: flex;
          justify-content: space-between;
        }
      }

      .right {
        width: 22vw;

        .calory-wrapper {
          margin: 0 3rem;
        }
      }
    }
  }
}
