@import '../../utils/styles/index.scss';

.main-wrapper {
  display: flex;
  align-items: stretch;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 8rem);
    padding: 4.7% 7.5%;

    .title-section {
      margin-bottom: 7.7rem;

      h1 {
        font-size: $font-size-h1;
        margin-bottom: 4rem;
      }

      .subtitle {
        font-size: 1.8rem;
      }
    }

    .charts-section {
      display: flex;

      .left {
        .chart-activity-daily {
          @include size(59vw, 320px);
          background-color: $light-gray;
          font-size: 1.4rem;
          border-radius: 5px;

          .recharts-wrapper {

          .recharts-legend-wrapper {
            top: 2.3rem !important;

            .recharts-surface {
              @include size(8px);
              margin-right: 10px !important;
            }

            .recharts-legend-item-text {
              color: $gray !important;
              font-weight: 500;
            }
          }

          .custom-rechart-title {
            font-weight: 500;
          }

          .recharts-layer {
            .recharts-text {
              fill: #9b9eac !important;
              font-weight: 500;
            }
          }

          .recharts-cartesian-grid-horizontal {
            line:first-of-type {
              stroke-dasharray: none;
            }
          }

          .recharts-tooltip-cursor {
            fill: #c4c4c480;
          }

          .recharts-default-tooltip {
            background-color: $red-02 !important;
            border: none !important;
            padding: 7px;

            .recharts-tooltip-label {
              @include visually-hidden();
            }

            .recharts-tooltip-item-list {
              text-align: center;

              .recharts-tooltip-item {
                color: $white !important;
                font-size: 7px;

                &:not(:last-of-type) {
                  margin-bottom: 1.5rem;
                }
              }

              .recharts-tooltip-item-name {
                @include visually-hidden();
              }
            }
          }
          }


        }
      }
      .right {
        border: 1px solid orange;
      }
    }
  }
}
