@import '../../utils/styles/index.scss';

.main-wrapper {
  display: flex;
  align-items: stretch;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1750px;
    margin: auto;
    min-height: calc(100vh - 8rem);
    padding: 4.7% 4.2% 4.7% 7.5%;

    @include on-laptop() {
      padding: 4.7% 4rem;
    }

    .title-section {
      margin-bottom: 7.7rem;

      h1 {
        font-size: $font-size-h1;
        margin-bottom: 4rem;
      }

      .subtitle {
        font-size: 1.8rem;
      }
    }
  }
}
