@import '../../utils/styles/index.scss';

.chart-performance {
  width: 31%;

  .recharts-wrapper {
    background-color: #282d30;
    border-radius: 5px;
    text-transform: capitalize;

    .recharts-layer {
      text tspan {
        fill: #fff;
        font-size: 12px;
      }
    }

    .recharts-polar-grid-angle {
      display: none;
    }
  }
}
